/* General Styles  */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  color: #fff;
  background-color: #2c3e50;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background: url("path_to_your_image.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero-content {
  text-align: center;
  margin-bottom: 50px;
}

.hero-content h1 {
  font-size: 48px;
  margin: 0;
}

.hero-content p {
  font-size: 24px;
  margin-top: 10px;
}

.content-section {
  background-color: #34495e;
  padding: 50px 0;
}

article {
  margin-bottom: 50px;
}

article h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

article h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

article p {
  font-size: 18px;
  margin-bottom: 20px;
}

article a {
  color: #1abc9c;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #2c3e50;
  padding: 20px 0;
  text-align: center;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  display: inline;
  margin: 0 10px;
}

.footer-content ul li a {
  color: #1abc9c;
  text-decoration: none;
}
